html {
box-sizing: border-box;
}

body{
    margin: 0;
    min-width: 1200px;

    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;

    background-color: #ffffff;
    color: #000000;
}

.container{
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

/*user-menu*/
.main-header{
    margin-bottom: 22px;
    padding-bottom: 60px;
    background-color: #f4f7f9;
    color: #ee3643;
}

.user-menu{
    width: 100%;
    min-height: 42px;
    margin-bottom: 46px;

    color: #ffffff;
    font-size: 17px;
    line-height: 18px;

    background-color: #293449;
}

.user-menu-list{
    min-height: 42px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

.user-menu a{
    color: #ffffff;
}

.bookmarks:active,
.basket:active{
    background-color: #161d29;
}

.button-home{
    background-color: #ee3643;
    box-shadow: 0 5px 0 #b52933;
}

.button-home:hover,
.button-home:focus{
    background-color: #ca2c37;
}

.button-home:active{
    background-color: #ba2732;
}

.button-checkout{
    background-color: #63a63e;
}

.button-checkout:hover,
.button-checkout:focus{
    background-color: #5fbb2d;
}

.button-checkout:active {
    background-color: #518534;
}

.main-header input{
    background-color: #293449;
}

.main-header input:active{
    background-color: #ffffff;
}

/*authorization, nav*/

.authorization{
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slogan{
    margin: 0;
    padding: 0;
    width: 300px;
    margin-right: 13px;
    padding-left: 53px;
    padding-right: 30px;
    padding-top: 3px;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    color: #ee3643;
}

.address-header{
    font-style: normal;
}

.address-header{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #32425c;
 }

.phone-header{
    font-size: 21px;
    font-weight: 400;
    font-weight: bold;
    line-height: 21px;

    color: #ee3643;
}

.contact-header{
    width: 300px;
    margin: 0 10px;
    margin-right: 20px;
}

.contact-header a{
    color: #ee3643;
}

.authorization-list{
    margin: 0;
    padding: 0;
    width: 310px;
    margin-left: 10px;
}

.login-menu-item{
    list-style: none;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.login-menu-item a{
    color: #000;
    background-color: #ffffff
}

.login-menu-item a:hover,
.login-menu-item a:focus{
    color: #ee3643
}

.login-menu-item a:active{
    color: #c5c5c5
}

.login-menu-order{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    list-style: none;

    color: #32425c;
}

.login-menu-order a{
    color: #32425c;
}

.login-menu-order a:hover,
.login-menu-order a:focus{
    color: #ee3643;
}

.login-menu-name a:hover,
.login-menu-name a:focus{
    color: #000000;
}

.login-menu-order a:active,
.login-menu-name a:active{
    color: #32425c;
    opacity: 0.3;
}

.nav-header {
    padding: 0;
    width: 940px;
    min-height: 60px;

    font-size: 17px;
    font-weight: 400;
    line-height: 17px;

    background-color: #32425c;
    box-shadow: inset 0 -5px 0 #293449;
    color: #ffffff;
}

.nav-header-list{
    padding: 0;
    margin: 0;
    min-height: 60px;

    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style: none;
}

.nav-header a{
    color: #ffffff;
}

.nav-header a:hover,
.nav-header a:focus{
    background-color: #293449;
}

.nav-header a:active {
    background-color: #1d2739;
    color: #787e88;
}

/*Company-info*/

.company-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company-info p{
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;

    background-color: #ffffff;
    color: #000000;
}

.about{
    width: 540px;
    margin-right: 10px;
}

.about h2,
.contact h3{
    margin: 0;
    padding: 0;
}

.contact{
    width: 300px;
    margin-left: 10px;
}

.company-info h2,
.company-info h3{
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

}

.delevery-list{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
}

.button{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ee3643;
    color: #ffffff;
}

.button:hover,
.button:focus{
    background-color: #ca2c37;
}

.button:active{
    background-color: #ba2732;
}

/*main catalog breadcrumbs*/

.breadcrumbs{
    margin-bottom: 19px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none
}

.breadcrumbs a{
    color: #000000;
}

.breadcrumbs{
    list-style: none;
}

.desk{
    width: 940px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

    background-color: #f2f6f8;
    color: #000000;
}
/*main filter*/

.container-filter-catalog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter{
    width: 220px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
}

.legend{
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter li{
    list-style: none;
}

.filter li{
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    color: #000000;
}

.button-apply{
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    background-color: #ffffff;
    color: #000000;
}

.fieldset{
    border: none
}

/*main catalog*/

.catalog{
    width: 700px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-family: "PT Sana", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    background-color: #ffffff;
    color: #000000;
}

.catalog-item h3{
    width: 170px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: -8px;

    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.catalog-item a{
    color:#000000;
}

.catalog-item{
    padding: 0;
    margin: 0;
    margin-bottom: 33px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    list-style: none;
}

.catalog-item li:nth-child(3n){
    margin-right: 0;
}

.catalog-item li{
    width: 219px;
    min-height: 317px;
    margin-bottom: 20px;
    margin-right: 20px;

    outline: 1px solid #e5e5e5;
}

.catalog-item .discount,
.catalog-item .price{
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    text-decoration: line-through;
    text-transform: uppercase;

    color: #a0a0a0;
}

.catalog-item .price{
    color: #000000;
    text-decoration: none;
}

.catalog-item li:hover{
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.pop-ups{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.pop-ups .button-buy{
    color: #ffffff;
}

.pop-ups .button-marker{
    color: #000000;
}

.button-buy{
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
}

.button-buy:hover,
.button-buy:focus{
    background-color: #5fbb2d;
}

.button-buy:active{
    background-color: #518534;
}

.button-marker{
    background-color: #ffffff;
    color: #32425c;
    border: 3px solid #63a63e;
}

.button-marker:hover,
.button-marker:focus{
    border: 3px solid #32425c;
}

.button-marker:active{
    opacity: 0.3;
}

.pagination-list{
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;

    color:#000000;
}

.pagination-list li{
    margin-right: 10px;

    border: 1px solid #e5e5e5;
}

.pagination-list a:hover,
.pagination-list a:focus{
    border: 1px solid #bdc6ca;
}

.pagination-list a:active{
    background-color:#ee3643;
    color:#ffffff;
}

/*pagination*/

.pagination-list{
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.pagination-list .pagination-item{
border-radius: 5px;
    margin-right: 9px;
}

.pagination-list a{
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
}


.pagination-list li:last-child a{
    padding-right: 30px;
    padding-left: 30px;

    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

/*Footer*/

.main-footer{
    margin-top: 86px;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    background-color: #293449;
    color: #ffffff;
}

.main-footer li{
    list-style: none;
}

.main-footer a{
    color: #ffffff;
}

.background-container{
    width: 100%;
    min-height: 193px;

    background-color: #32425c;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer section{
    width: 380px;
    margin-right: 10px;
}

.contact-academy,
.footer-contact p{
    font-size: 16px;
    line-height:20px;
}

.nav-footer{
    width: 550px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.nav-footer ul:first-child{
    padding: 0;
    margin: 0;
    width: 550px;
    margin: 36px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-footer a:active{
    color: #929caa;
}

.material{
    padding: 0;
    margin: 0;
    width: 524px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.material a:active{
    color: #767268;
}

.material a,
.contact-academy a{
    color: #ffd180;
}

.footer-contact{
    min-height: 107px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-contact p{
    padding: 0;
    margin: 0;
    width: 240px;
    margin-top: 35px;
    margin-right: 140px;

}

.social-footer a:hover,
.social-footer a:focus,
.social-footer a:active{
    background-color: #ee3643;
}

.container-academy{
    padding: 0;
    margin: 0;

    width: 300px;
    margin-top: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-academy:last-child{
    padding-left: 53px;
}

.nav-footer a:hover,
.nav-footer a:focus,
.contact-academy a:hover,
.contact-academy a:focus{
    text-decoration: underline;
}

.contact-academy a:active{
    color: #ee3643;
}

.popup,
.popup-map{
    display: none;
}

/*декоративные элементы*/

/*header user-menu*/

.user-menu-list li{
    margin: 0;
    padding: 0;
}

.user-menu-list a{
    display: block;
    padding: 12px 0;
}

.user-menu-list .button-home{
    padding: 0 55px;
    padding-top: 13px;
    padding-bottom: 7px;
}
.form-search{
    position: relative;
}

.form-search form:active svg{
    fill: #ee3643;;
}

input[type="search"]{
    border: none;
    min-height: 42px;
    width: 270px;

    padding-left: 50px;
    position: relative;

    outline: none;
}

.user-menu input[type="search"]::-webkit-input-placeholder{
    color: #ffffff;
}

.form-search svg{
    position: absolute;
    fill: #ffffff;

    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;

    opacity: 0.3;
}

.form-search form:hover svg,
.form-search form:focus svg{
    opacity: 1;
}
.user-menu-list .bookmarks{
    position: relative;
    padding-left: 45px;
    width: 150px;
}

.bookmarks::before{
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background: url(../img/icon-bookmark.svg) no-repeat 0 0;

    opacity: 0.3;
}

.user-menu-list .basket{
    width: 150px;
    padding-left: 50px;

    position: relative;
}

.user-menu-list .basket-full{
    background-color: #ee3643;
}

.basket::before{
    content: "";

    position: absolute;
    top: 12px;
    left: 20px;

    width: 15px;
    height: 15px;

    background: url(../img/icon-cart.svg) no-repeat 0 0;

    opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before{
    opacity: 1;
}

.bookmarks:active::before,
.basket:active::before{
    opacity: 0.5;
}

.user-menu-list .button-checkout{
    width: 150px;
    padding-left: 20px;
}

/*autorization*/

.contact-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.phone-header{
    width: 270px;
    padding: 10px 0;
    padding-left: 70px;

    display: block;
    position: relative;

    border: 3px solid #ffffff;
}

.phone-header::before{
    content: "";

    position: absolute;
    top: 11px;
    left: 14px;

    width: 19px;
    height: 19px;

    background: url(../img/icon-phone.svg) no-repeat 0 0;
}

.address-header{
    padding-left: 10px;
}

.authorization-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.authorization-list li{
    margin: 0;
    padding: 0;
}

.authorization-list a{
    display: block;
}

.login-menu-item a{
    padding: 11px 24px;
}

.authorization-list .login-enter{
    margin-right: 10px;
}

.authorization-list .enter{
    padding-left: 48px;
    position: relative;
}

.login-menu-item .enter svg{
    position: absolute;

    width: 20px;
    height: 17px;

    top: 13px;
    left: 13px;

    fill: #c5c5c5;
}

.login-menu-item a:hover path,
.login-menu-item a:focus path{
fill: #32425c;
}

.login-menu-item a:active path{
fill: #c5c5c5;
}

/*authorization catalog*/
.authorization-list{
    margin: 0;
    padding: 0;
}

.authorization-list .login-menu-name{
    margin: 0;
    padding: 0;

    width: 240px;
}

.authorization-list a{
    display: block;
}

.login-menu-name .user-name{
    padding-right: 0;
    padding-left: 47px;
    margin: 0;
}

.authorization .user-name,
.authorization .deauthorization{
    position: relative;
}

.login-menu-name svg{
    position: absolute;

    top: 13px;
    left: 14px;

    width: 20px;
    height: 18px;
}

.deauthorization-item svg{
    position: absolute;

    top: 13px;
    left: 29px;

    width: 20px;
    height: 18px;
}

.authorization-list .deauthorization{
    min-height: 43px;
    width: 60px;
}

.login-menu-order a{
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background-color: initial;
    padding-right: 73px;
}

.login-menu-order .login-menu-point{
    position: relative;
    padding-right: 31px;
}

.authorization-list .login-menu-point::before{
    position: absolute;
    content: "";

    left: 90px;
    top: 13px;

    width: 5px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

/*nav-header*/

.nav-header-list a{
    display: block;

    padding-top: 18px;
    padding-bottom: 22px;
    padding-left: 25px;
    padding-right: 37px;
}

.nav-header-list li:first-child a{
    padding-left: 52px;
    padding-right: 34px;
}
.nav-header-list li:last-child a{
    padding-left: 22px;
    padding-right: 55px;
}

.nav-header-list li:nth-child(2) a{
    padding-left: 30px;
    padding-right: 32px;
}

.nav-header-list li:nth-child(5) a,
.nav-header-list li:nth-child(6) a{
    padding-left: 21px;
    padding-right: 40px;
}

/*main breadcrumbs*/

.breadcrumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.breadcrumbs li{
    margin: 0;
    padding: 0;
    position: relative;
    margin-right: 41px;
}

.breadcrumbs li::before{
    content: "";

    position: absolute;

    width: 8px;
    height: 12px;

    top: 1px;
    right: 105px;

    background: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs a{
    display: block;
}

.breadcrumbs li:first-child::before {
    display: none;
}

.breadcrumbs li:nth-child(2)::before{
    right: 70px;
}

.breadcrumbs li:nth-child(3)::before{
    right: 95px;
}

/*main filter*/

.filter fieldset{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
}

.filter fieldset:nth-child(2){
    margin-bottom: 59px;
}


.filter legend{
    padding: 0;
    margin: 0;
    margin-bottom: 14px;

    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter li{
    margin-bottom: 20px;
    padding-left: 34px;
}


.filter label{
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox,
.filter-input-radio{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}


.filter-input-checkbox+label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;

    width: 25px;
    height: 25px;

    background: url(../img/checkbox-off.svg) no-repeat 0 0;
}

.filter-input-checkbox:checked+label::before{
    background: url(../img/checkbox-on.svg) no-repeat 0 0;
}

.filter hr{
    background-color:;
}

.filter-input-radio+label::before{
    content: "";
    position: absolute;
    left: -35px;
    top: -3px;

    width: 25px;
    height: 25px;

    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:checked+label::after{
    content: "";
    position: absolute;
    left: -27.5px;
    top: 4.5px;

    width: 10px;
    height: 10px;

    background-color: #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:disabled+label::after{
    background-color: yellow;
}

.filter-input-radio:disabled+label::before{
    border: 3px solid yellow;
}

.filter .button-apply{
    width: 140px;
    padding: 8px 39px;
}

.filter .button-apply:hover,
.filter .button-apply:focus{
    background-color: #ee3643;
    color: #ffffff;
}
/* main catalog*/

.catalog-item li{
    position: relative;
    display: inline-block;

    text-align: center;

}

.catalog-item .flag{
    position: absolute;
    top: 1px;
    right: 1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new{
    background: url(../img/new_flag.png) no-repeat 0 0;
}

.catalog-item .pop-ups{
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    padding: 43px 0;
    min-height: 150px;

    background-color: white;
    background-color: rgba(255,255,255 0.9);
    z-index: 10;
}

.catalog-item .button-buy,
.catalog-item .button-marker{
    display: block;
    width: 135px;
    min-height: 38px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 10px 0;

    font-family: Cuprum;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;

    position: relative;
}

.catalog-item .button-marker{
    padding-bottom: 4px;
    padding-top: 8px;
}

.catalog-item .button-marker{
    background-color: #ffffff;
    border: 3px solid #637315;
}

.catalog-item .button-buy:focus,
.catalog-item .button-buy:hover{
    background-color: #5fbb2d;
}

.catalog-item .button-buy:active{
    background-color: #367315;
}

.catalog-item .button-marker:focus,
.catalog-item .button-marker:hover{
    border: 3px solid #32425c;
}

.catalog-item .button-marker:active{
    border: 3px solid #32425c;
    color: #32425c;
}

.catalog-item .pop-ups{
    display: none;
}

.catalog-item li:hover .pop-ups{
    display: block;
}

.catalog-item .button-buy::before{
    content: "";

    position: absolute;

    top: 11px;
    left: 14px;

    width: 15px;
    height: 15px;

    background: url(../img/icon-cart.svg) no-repeat 0 0;
    opacity: 0.3;
}

.catalog-item .button-buy:hover::before,
.catalog-item .button-buy:focus::before{
    opacity: 1;
}

.catalog-item .discount{
    min-height: 18px;
    padding: 0 25px;
    margin-bottom: 10px;

    color: #999999;
}

.catalog-item .price{

    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;

    color: #ffffff;
    background: url(../img/price_marker.png.) no-repeat 42px 0;
}


/*Main company-info*/

.about h2,
.contact h3{
    margin-bottom: 26px;
}

.about p:nth-child(3){
    padding-right: 100px;
    padding-top: 10px;
}

.delevery-list{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;


    display: flex;
    flex-direction: column;
}

.delevery-list li{
    padding: 10px 0;
    padding-left: 36px;

    position: relative;
}

.delevery-list li::before{
    content: "";

    position: absolute;
    top: 18px;
    left: 0;

    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.button{
    display: block;
    width: 220px;
    min-height: 38px;

    padding: 0 40px;
    padding-top: 12px;
    padding-bottom: 9px;
    border-radius: 3px;
}

.contact p{
    padding-right: 100px;
    margin-bottom: 30px;
}

.contact .button-contact{
    margin-top: 33px;
    padding-left: 64px;
    width: 100%;
}

/*footer*/

.footer .button-home{
    display: block;
    width: 220px;
    height: 63px;
    padding: 20px 41px;
    margin-bottom: 32px;
}

.social-footer{
    margin: 0;
    padding: 0;

    width: 160px;
    height: 50px;
    margin-right: 90px;
    margin-left: 10px;
    margin-top: 36px;

    display: flex;
    flex-direction: row;


}

.button-social{
    display: flex;

    width: 40px;
    height: 40px;

    margin-right: 5px;

    background-color: #161d29;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

