html {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 1200px;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;

    background-color: #ffffff;
    color: #000000;
}

.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

*,
*::before,
*::after{
-webkit-box-sizing: inherit;
        box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"],
input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;


  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*user-menu*/
.main-header {
    margin-bottom: 22px;
    padding-bottom: 60px;

    background-color: #f4f7f9;
    color: #ee3643;
}

.user-menu {
    width: 100%;
    min-height: 42px;
    margin-bottom: 46px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
}

.user-menu-list {
    min-height: 42px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    list-style: none;
}

.user-menu-list li {
    margin: 0;
    padding: 0;
}

.user-menu-list a {
    display: block;

    padding: 12px 0;
}

.user-menu-list .button-home {
    padding: 0 55px;
    padding-top: 13px;
    padding-bottom: 7px;
}

.form-search {
    position: relative;
}

.form-search input[type="search"] {
    position: relative;

    min-height: 42px;
    width: 270px;
    padding-left: 50px;

    border: none;
    outline: none;
}

.user-menu input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}

.user-menu input[type="search"]::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}


.form-search svg {
    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;

    fill: #ffffff;
    opacity: 0.3;
}

.form-search input:focus {
    background-color: #ffffff;
}

.form-search input:focus+svg {
    fill: #ee3643;
    opacity: 1;
}

.form-search form:hover svg {
    opacity: 1;
}

.user-menu-list .bookmarks {
    position: relative;

    padding-left: 45px;
    width: 150px;
}

.bookmarks::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background: url(../img/icon-bookmark.svg) no-repeat 0 0;

    opacity: 0.3;
}

.user-menu-list .basket {
    position: relative;

    width: 150px;
    padding-left: 50px;
}

.user-menu-list .basket-full {
    background-color: #ee3643;
}

.basket::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 20px;

    width: 15px;
    height: 15px;

    background: url(../img/icon-cart.svg) no-repeat 0 0;

    opacity: 0.3;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
    opacity: 1;
}

.bookmarks:active::before,
.basket:active::before {
    opacity: 0.5;
}

.user-menu-list .button-checkout {
    width: 150px;
    padding-left: 20px;
}

.user-menu a {
    color: #ffffff;
}

.bookmarks:active,
.basket:active {
    background-color: #161d29;
}

.button-home {
    background-color: #ee3643;
    -webkit-box-shadow: 0 5px 0 #b52933;
            box-shadow: 0 5px 0 #b52933;
}

.button-home:hover,
.button-home:focus {
    background-color: #ca2c37;
}

.button-home:active {
    background-color: #ba2732;
}

.button-checkout {
    background-color: #63a63e;
}

.button-checkout:hover,
.button-checkout:focus {
    background-color: #5fbb2d;
}

.button-checkout:active {
    background-color: #518534;
}

.main-header input {
    background-color: #293449;
}

.main-header input:active {
    background-color: #ffffff;
}

/*authorization, nav*/

.authorization {
    margin-bottom: 40px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.slogan {
    margin: 0;
    padding: 0;
    width: 300px;
    margin-right: 13px;
    padding-left: 53px;
    padding-right: 30px;
    padding-top: 3px;

    font-size: 16px;
    font-style: italic;
    line-height: 23px;

    color: #ee3643;
}

.address-header {
    font-style: normal;
}

.address-header {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #32425c;
 }

.phone-header {
    display: block;
    position: relative;

    width: 270px;
    padding: 10px 0;
    padding-left: 68px;
    margin-left: 4px;

    font-size: 21px;
    font-weight: bold;
    line-height: 21px;

    border: 3px solid #ffffff;
    color: #ee3643;
}

.phone-header::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 14px;

    width: 19px;
    height: 19px;

    background: url(../img/icon-phone.svg) no-repeat 0 0;
}

.address-header {
    padding-left: 12px;
}

.contact-header {
    width: 300px;
    margin: 0 10px;
    margin-right: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-header a {
    color: #ee3643;
}

.authorization-list {
    margin: 0;
    padding: 0;
    width: 310px;
    margin-left: 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.authorization-list li {
    margin: 0;
    padding: 0;
}

.authorization-list a {
    display: block;
}

.login-menu-item {
    list-style: none;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
}

.login-menu-item a {
    padding: 11px 24px;

    color: #000;
    background-color: #ffffff
}

.authorization-list .login-enter {
    margin-right: 10px;
}

.authorization-list .enter {
    padding-left: 48px;
    position: relative;
}

.login-menu-item .enter svg {
    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 17px;

    fill: #c5c5c5;
}

.login-menu-item a:hover path,
.login-menu-item a:focus path {
fill: #32425c;
}

.login-menu-item a:active path {
fill: #c5c5c5;
}

.login-menu-item a:hover,
.login-menu-item a:focus {
    color: #ee3643
}

.login-menu-item a:active {
    color: #c5c5c5
}

/*authorization catalog*/

.login-menu-order {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: underline;
    list-style: none;

    color: #32425c;
}

.authorization-list .login-menu-name {
    margin: 0;
    padding: 0;

    width: 240px;
}


.login-menu-name .user-name {
    padding-right: 0;
    padding-left: 47px;
    margin: 0;
}

.authorization .user-name,
.authorization .deauthorization {
    position: relative;
}

.login-menu-name svg {
    position: absolute;
    top: 13px;
    left: 14px;

    width: 20px;
    height: 18px;
}

.deauthorization-item svg {
    position: absolute;
    top: 13px;
    left: 29px;

    width: 20px;
    height: 18px;
}

.authorization-list .deauthorization {
    min-height: 43px;
    width: 60px;
}

.login-menu-order a {
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 73px;

    background-color: initial;
}

.login-menu-order .login-menu-point {
    position: relative;

    padding-right: 31px;
}

.authorization-list .login-menu-point::before {
    content: "";

    position: absolute;
    left: 90px;
    top: 13px;

    width: 5px;
    height: 5px;

    background-color: #32425c;
    border-radius: 50%;
}

.login-menu-order a {
    color: #32425c;
}

.login-menu-order a:hover,
.login-menu-order a:focus {
    color: #ee3643;
}

.login-menu-name a:hover,
.login-menu-name a:focus {
    color: #000000;
}

.login-menu-order a:active,
.login-menu-name a:active {
    color: #32425c;
    opacity: 0.3;
}

/*nav header*/

.nav-header {
    padding: 0;
    width: 940px;
    min-height: 60px;

    font-size: 17px;
    font-weight: 400;
    line-height: 17px;

    background-color: #32425c;
    -webkit-box-shadow: inset 0 -5px 0 #293449;
            box-shadow: inset 0 -5px 0 #293449;
    color: #ffffff;
}

.nav-header-list {
    padding: 0;
    margin: 0;
    min-height: 60px;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    list-style: none;
}

.nav-header-list a {
    display: block;

    padding-top: 18px;
    padding-bottom: 22px;
    padding-right: 30px;
    padding-left: 30px;

    color: #ffffff;
}

.nav-header-list li:first-child a {
    padding-left: 52px;
    padding-right: 34px;
}

.nav-header-list li:last-child a {
    padding-right: 54px;
}

.nav-header a:hover,
.nav-header a:focus {
    background-color: #293449;
}

.nav-header a:active {
    background-color: #1d2739;
    color: #787e88;
}

/*main-index Promo-block*/

.promo-block {
    margin: 0;
    padding: 0;
    min-height: 410px;
    margin-bottom: 52px;
    margin-top: 59px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.promo-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 620px;
}

.promo-item {
    position: relative;
}

.promo-slider li,
.promo-block-list li {
    width: 300px;
    height: 123px;

    list-style: none;
    background-color: #ffbf47;
}

.promo-block h4 {
    margin: 0;
    padding-left: 23px;
    padding-top: 21px;
    margin-bottom: 12px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    color: #ffffff;
}

.promo-item a {
    display: block;

    margin-left: 25px;
    padding: 10px 22px;
    width: 135px;
    text-align: center;
    min-height: 38px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border-radius: 3px;
}

.promo-block a:not(.button):hover,
.promo-block a:not(.button):focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-block a:not(.button):active {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-slider .promo-item:nth-child(2) {
    background-color: #3bbce3;
}

.promo-slider .slider {
    position: relative;

    width: 620px;
    min-height: 266px;
    margin-top: 18px;

    background: none;
}

.promo-slider .slider-item h4 {
    padding-left: 24px;
    padding-top: 23px;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.slider-item p {
    padding-left: 24px;
    margin-top: -10px;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.slider-item {
    background-color: #856256;
    background: url(../img/slider_fone1.jpg) no-repeat 0 0;
}

.slider-item-second {
    background-color: #856256;
    background: url(../img/slider_fone2.jpg) no-repeat 0 0;
}

.promo-slider .slider-controls-front::before {
    content: "";

    position: absolute;
    left: 25px;
    bottom: 112px;

    width: 22px;
    height: 40px;

    background: url(../img/icon-left.svg) no-repeat 0 0;
}

.promo-slider .slider-controls-back::after{
    content: "";

    position: absolute;
    left: 578px;
    bottom: 112px;

    width: 22px;
    height: 40px;

    background: url(../img/icon-right.svg) no-repeat 0 0;
}

.promo-slider .slider-indicator {
    position: absolute;
    left: 295px;
    bottom: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 30px;
    height: 10px;
}

.slider-indicator .indicator {
    width: 10px;
    height: 10px;

    background-color: #ffffff;
    border-radius: 50%;
}

.indicator-active {
    position: relative;
}

.slider .indicator-active::after {
    content:"";

    position: absolute;
    top: 2px;
    left: 2px;

    width: 6px;
    height: 6px;

    background-color: #ee3643;
    border-radius: 50%;
}

.slider-item {
    min-height: 266px;

    display: none;
}

.slider-show {
    display: block;
}

.promo-slider .button {
    position: absolute;
    bottom: 21px;
    left: 25px;

    width: 195px;
    padding-left: 50px;
}

.promo-block-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
    width: 300px;
}

.promo-block-list .promo-item {
    margin-bottom: 1px;
}

.promo-block-list a {
    margin-left: 23px;
}

.promo-block-list li:first-child {
    background-color: #dc91d8;
}

.promo-block-list li:nth-child(2) {
    background-color: #8ed78f;
}

.promo-slider li:first-child {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px 31px;
}

.promo-slider li:nth-child(2) {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 197px 33px;
}

.promo-block-list li:first-child {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px 31px;
}

.promo-block-list li:nth-child(2) {
    background-image: url(../img/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px 26px;
}

.promo-block-list li:nth-child(3) {
    background-image: url(../img/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px 32px;
}

.promo-slider .flag {
    top: 0;
    right: 0;
}

/*POPULAR*/
.popular-brand{
    margin-bottom: 68px;
}

.popular-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    min-height: 89px;
    margin-bottom: 19px;

    background-color: #f9f5f0;
}

.popular .button-popular {
    width: 253px;
    margin: 24px 24px;
    margin-bottom: 28px;
    padding-bottom: 0;

    text-align: center;
}

.popular-item {
    margin: 0;
    padding: 0;
    padding-left: 28px;
    margin-top: 29px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

    color: #32425c;
}

.popular .popular-product-list {
    margin-bottom: 4px;
}

.popular .popular-product-list li {
    margin-bottom: 18px;
}

.popular .popular-product-list h3 {
    margin-top: 0;
}

.popular-product-list .discount {
    padding-left: 28px;
}

.popular-product-list .price {
    padding-left: 31px;
}

.popular-brand-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin: 0;
    padding: 0;
    min-height: 310px;

}

.popular-brand-list li {
    list-style: none;
    width: 220px;
    height: 145px;
    margin-bottom: 20px;

    border: 1px solid #eaeaea;
}

.popular-brand-list li:hover,
.popular-brand-list li:focus {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brand-list li:active {
    opacity: 0.3;
}

.popular-brand-list a {
    display: block;
    height: 145px;
}

.popular-brand-list li:first-child img {
    width: 126px;
    height: 37px;
    margin-top: 51px;
    margin-left: 46px;
}

.popular-brand-list li:nth-child(2) img {
    width: 123px;
    height: 40px;
    margin-top: 48px;
    margin-left: 47px;
}

.popular-brand-list li:nth-child(3) img {
    width: 146px;
    height: 44px;
    margin-top: 46px;
    margin-left: 36px;
}

.popular-brand-list li:nth-child(4) img {
    width: 200px;
    height: 88px;
    margin-top: 19px;
    margin-left: 8px;
}

.popular-brand-list li:nth-child(5) img {
    width: 169px;
    height: 31px;
    margin-top: 58px;
    margin-left: 27px;
}

.popular-brand-list li:nth-child(6) img {
    width: 121px;
    height: 73px;
    margin-top: 35px;
    margin-left: 47px;
}

.popular-brand-list li:nth-child(7) img {
    width: 151px;
    height: 96px;
    margin-top: 23px;
    margin-left: 34px;
}

.popular-brand-list li:nth-child(8) img {
    width: 204px;
    height: 69px;
    margin-top: 34px;
    margin-left: 9px;
}

/*Service*/
.servise-container {
    margin-bottom: 79px;
    min-height: 522px;

    background-color: #f4f7f9;
    color: #000000;
}

.service-headline {
    min-height: 96px;
    width: 398px;
    padding-top: 35px;
    margin-bottom: 69px;
}

.service-headline h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.service-headline p,
.service-item p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.service-item b {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;

    color: #32425c;
}

.service-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.service-list {
    margin: 0;
    padding: 0;

    width: 240px;
    position: relative;
}

.service-list li {
    list-style: none;
}

.service-list a {
    display: block;

    min-height: 61px;
    padding-left: 22px;
    padding-top: 14px;

    font-size: 21px;
    font-weight: 700;
    line-height: 30px;

    color: #ffffff;
    background-color: #32425c;
    -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
            box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

.service-list::after {
    content: "";

    position: absolute;
    top: -35px;
    right: 1px;

    width: 10px;
    height: 279px;

    background: url(../img/service-shadow.png) no-repeat 0 0;
}

.service-list .service-list-active {
    color: #32425c;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
            box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.service-list a:hover,
.service-list a:focus {
    background-color: #293449;
}

.service-list .service-list-active:hover {
    background-color: #ffffff;
}

.service-item {
    display: none;
    position: relative;

    width: 620px;
    margin-left: 80px;
    margin-top: -3px;
}

.service-item p {
    margin-top: 25px;
}

.service-item .button-service {
    margin-top: 25px;
    width: 195px;

    text-align: center;
}

.service-item:nth-of-type(1)::after {
    content: "";

    position: absolute;
    top: 25px;
    right: 1px;

    width: 468px;
    height: 261px;

    background: url(../img/delivery.png) no-repeat 0 0;
}

.service-item:nth-of-type(2)::after {
    content: "";

    position: absolute;
    top: 3px;
    right: -8px;

    width: 389px;
    height: 283px;

    background: url(../img/guarantee.png) no-repeat 0 0;
}

.service-item:nth-of-type(3)::after {
    content: "";

    position: absolute;
    top: 1px;
    right: -10px;

    width: 465px;
    height: 285px;

    background: url(../img/credit.png) no-repeat 0 0;
}

.service-item:nth-of-type(1) p {
    width: 278px;
}

.service-item:nth-of-type(2) p {
    width: 379px;
}

.service-item:nth-of-type(3) p {
    width: 279px;
}

.service-show {
    display: block;
}

/*Company-info*/

.company-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.company-info p {
    padding-top: 2px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;

    background-color: #ffffff;
    color: #000000;
}

.about {
    width: 540px;
    margin-right: 10px;
    margin-bottom: 85px;
}

.about h2,
.contact h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.about p:nth-child(3) {
    padding-right: 100px;
    padding-top: 10px;
}

.contact {
    width: 300px;
    margin-left: 10px;
}

.company-info h2,
.company-info h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.delevery-list {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.delevery-list li {
    position: relative;

    padding: 10px 0;
    padding-left: 36px;
}

.delevery-list li::before {
    content: "";

    position: absolute;
    top: 18px;
    left: 0;

    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.contact p {
    padding-right: 100px;
    margin-bottom: 30px;
}

.contact .button-contact {
    margin-top: 33px;
    padding-left: 64px;
    width: 100%;
}

.button {
    display: block;

    width: 220px;
    min-height: 38px;
    padding: 0 40px;
    padding-top: 12px;
    padding-bottom: 9px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    border-radius: 3px;
    background-color: #ee3643;
    color: #ffffff;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

/*main catalog breadcrumbs*/

.breadcrumbs {
    margin-bottom: 19px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none
}

.breadcrumbs li {
    position: relative;

    margin: 0;
    padding: 0;
    margin-right: 41px;
}

.breadcrumbs li::before {
    content: "";

    position: absolute;
    top: 1px;
    right: 105px;

    width: 8px;
    height: 12px;

    background: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs li:first-child::before {
    display: none;
}

.breadcrumbs li:nth-child(2)::before{
    right: 70px;
}

.breadcrumbs li:nth-child(3)::before {
    right: 95px;
}

.breadcrumbs a {
    color: #000000;
    display: block;
}

.desk {
    width: 940px;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;

    background-color: #f2f6f8;
    color: #000000;
}
/*main filter*/

.filter h2 {
    width: 220px;
    min-height: 38px;

    margin: 0;
    padding-left: 18px;
    padding-top: 10px;
    margin-bottom: 10px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border-radius: 5px;
    color: #000000;
}

.container-filter-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.filter {
    width: 220px;
    margin-right: 20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.filter hr {
    height: 1px;

    border: 0;
    background-color: #e5e5e5;
}

.filter legend {
    padding: 0;
    margin: 0;
    margin-bottom: 14px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 11px;

    border: none;
}

.filter .fieldset-brand {
    margin-top: 15px;
    margin-bottom: 13px;
}

.filter .supply {
    letter-spacing: 0.5px;
    margin-bottom: 60px;
}

.filter-range {
    width: 220px;
    margin-top: 49px;
}

.range-filter {
    margin-bottom: 15px;
}

.range-controle {
    position: relative;

    height: 80px;
    margin-bottom: 8px;
    padding-top: 39px;
    padding-right: 21px;
    padding-left: 23px;

    background-color: #f7f3ec;
    border-radius: 5px;
}

.range-controle .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controle .bar {
    width: 80%;
    height: 2px;

    background: #00ca74;
}

.range-controle .toggle {
    position: absolute;
    top: 30px;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controle .toggle-min {
    left: 20px;
}

.range-controle .toggle-max {
    left: 160px;
}

.price-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    font-size: 0;
}

.price-controls label {
    display: block;

    width: 50%;
    margin: 0;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 95px;
    padding: 10px ;

    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #f7f3ec;
}

.min-price input {
    padding-right: 4px;
}

.max-price {
    text-align: right;
    position: relative;
}

.max-price::before {
    content:"";

    position: absolute;
    top: 19px;
    left: -5px;

    width: 10px;
    height: 1px;

    background-color: #000000;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter li {
    margin-bottom: 20px;
    padding-left: 34px;

    list-style: none;
}

.filter li {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

    color: #000000;
}

.filter label {
    position: relative;

    display: block;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-checkbox,
.filter-input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.filter-input-checkbox+label::before {
    content: "";

    position: absolute;
    left: -34px;
    top: -2px;

    width: 23px;
    height: 23px;

    border: 2px solid #c5c5c5;
    border-radius: 3px;
}

.filter-input-checkbox:checked+label::before {
    background: url(../img/checkbox-on.svg) no-repeat 0 0;
    border: none;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before {
    border: 2px solid #b5b5b5;
}

.filter-input-checkbox:checked:hover+label::before,
.filter-input-checkbox:checked:focus+label::before {
    background: url(../img/checkbox-on-hover.svg) no-repeat 0 0;
    border: none;
}

.filter-input-checkbox:disabled+label,
.filter-input-radio:disabled+label {
    opacity: 0.3;
}


.filter-input-radio+label::before {
    content: "";

    position: absolute;
    left: -35px;
    top: -3px;

    width: 25px;
    height: 25px;

    border: 4px solid #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:checked+label::after {
    content: "";

    position: absolute;
    left: -27.5px;
    top: 4.5px;

    width: 10px;
    height: 10px;

    background-color: #c5c5c5;
    border-radius: 50%;
}

.filter-input-radio:hover+label::after,
.filter-input-radio:focus+label::after {
    background-color: #b5b5b5;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before {
    border: 4px solid #b5b5b5;
}

.filter .button-apply {
    width: 140px;
    padding: 8px 39px;

    border: 1px solid #e5e5e5;
}

.filter .button-apply:hover,
.filter .button-apply:focus {
    border: 1px solid #bdc6ca;
    background-color: #ffffff;
}

.filter .button-apply:active {
    border: 1px solid #ee3643;
    background-color: #ffffff;
    outline: none;
}

.button-apply {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    background-color: #ffffff;
    color: #000000;
}

.fieldset {
    border: none
}

/*main catalog*/

.filter-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    margin: 0;
    padding: 0;
    min-height: 38px;
    min-width: 700px;

    list-style: none;
    background-color: #f7f3ec;
    border-radius: 5px;
}

.filter-sorting a {
    display: block;

    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 19px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    opacity: 0.3;
    color: #000000;
    text-decoration: underline;
    -webkit-text-decoration-color: #ee3643;
            text-decoration-color: #ee3643;
}

.filter-sorting li:first-child a {
    margin-right: 121px;
    opacity: 1;
    text-decoration: none;
}

.filter-sorting li:nth-child(2) a {
    margin-right: 50px;
}

.filter-sorting li:nth-child(3) a {
    margin-right: 50px;
}

.filter-sorting li:nth-child(4) a {
    margin-right: 25px;
}

.filter-sorting .sorting-active svg {
    fill: #ee3643;
    opacity: 1;
}

.filter-sorting .sorting-active {
    color: #ee3643;
    text-decoration: none;
    opacity: 1;
}

.filter-sorting a:hover,
.filter-sorting a:focus {
    opacity: 1;
}

.catalog {
    width: 700px;
    margin-bottom: 59px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    background-color: #ffffff;
    color: #000000;
}

.catalog-item h3 {
    width: 170px;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: -6px;

    text-align: center;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.catalog-item a {
    color:#000000;
}

.catalog-item {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -20px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;


    list-style: none;
}

.catalog-item li {
    position: relative;

    width: 220px;
    min-height: 317px;
    margin-bottom: 21px;
    margin-left: 20px;

    text-align: center;

    border: 1px solid #e5e5e5;
}

.flag {
    position: absolute;
    top: -2px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.flag-new {
    background: url(../img/new_flag.png) no-repeat 0 0;
}

.catalog-item .discount,
.catalog-item .price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;

    text-decoration: line-through;
    text-transform: uppercase;

    color: #a0a0a0;
}

.catalog-item .price {
    color: #000000;
    text-decoration: none;
}

.catalog-item li:hover {
    -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
            box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.pop-ups {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    padding: 42px 0;
    min-height: 150px;

    background-color: white;
    background-color: rgba(255,255,255 0.9);
    z-index: 10;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;


}

.catalog-item .button-buy,
.catalog-item .button-marker {
    display: block;
    width: 135px;
    min-height: 38px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 10px 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
    color: #ffffff;

    position: relative;
}

.pop-ups .button-marker {
    padding: 0;
    padding-top: 8px;
    min-height: 38px;

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #637315;
}

.button-buy {
    -webkit-box-shadow: inset 0 -3px 0 #367315;
            box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
}

.button-buy:focus,
.button-buy:hover {
    background-color: #5fbb2d;
}

.button-buy:active {
    background-color: #367315;
}

.button-marker {
    background-color: #ffffff;
    color: #32425c;
    border: 3px solid #63a63e;
}

.button-marker:hover,
.button-marker:focus {
    border: 3px solid #32425c;
}

.button-marker:active {
    border: 3px solid #32425c;
    color: #32425c;
    opacity: 0.3;
}

.pagination-list {
    padding: 0;
    margin: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    list-style: none;

    color:#000000;
}

.catalog-item .pop-ups {
    display: none;
}

.catalog-item li:hover .pop-ups {
    display: block;
}

.catalog-item .button-buy::before {
    content: "";

    position: absolute;

    top: 11px;
    left: 14px;

    width: 15px;
    height: 15px;

    background: url(../img/icon-cart.svg) no-repeat 0 0;
    opacity: 0.3;
}

.catalog-item .button-buy:hover::before,
.catalog-item .button-buy:focus::before{
    opacity: 1;
}

.catalog-item .discount {
    min-height: 18px;
    padding: 0 25px;
    margin-bottom: 10px;

    color: #999999;
}

.catalog-item .price {
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;

    color: #ffffff;
    background: url(../img/price_marker.png) no-repeat 42px 0;
}

/*pagination*/

.pagination-list {
    padding: 0;
    margin: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}


.pagination-list .pagination-item {
    border-radius: 5px;
    margin-right: 10px;
}

.pagination-list a {
    display: block;
    padding: 10px 15px;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.pagination-list a:hover,
.pagination-list a:focus {
    border: 1px solid #bdc6ca;
}

.pagination-list a:active {
    border: 1px solid #ee3643;
    color: #000000;
}

.pagination-item-active a {
    background-color:#ee3643;
    color:#ffffff;
}

.pagination-list li:last-child a {
    padding-right: 30px;
    padding-left: 30px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.aside {
    min-height: 261px;

    background-color: #f2f6f8;
}

.aside h3 {
    margin: 0;
    padding: 0;

    padding-top: 65px;
    margin-bottom: 25px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.aside p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

/*Footer*/

.main-footer {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    background-color: #293449;
    color: #ffffff;
}

.footer .button-home {
    display: block;

    width: 220px;
    height: 63px;
    padding: 20px 41px;
    margin-bottom: 32px;
}

.main-footer li {
    list-style: none;
}

.main-footer a {
    color: #ffffff;
}

.background-container {
    width: 100%;
    min-height: 193px;

    background-color: #32425c;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer section {
    width: 380px;
    margin-right: 10px;
}

.contact-academy,
.footer-contact p {
    font-size: 16px;
    line-height:20px;
}

.nav-footer {
    width: 550px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.nav-footer ul:first-child {
    padding: 0;
    margin: 0;
    width: 550px;
    margin: 36px 0;

    display: -webkit-box;

    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.material {
    padding: 0;
    margin: 0;
    width: 524px;

    display: -webkit-box;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.material a:active {
    color: #767268;
}

.material a,
.contact-academy a {
    color: #ffd180;
}

.footer-contact {
    min-height: 107px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-contact p {
    padding: 0;
    margin: 0;
    width: 240px;
    margin-top: 35px;
    margin-right: 140px;
}

.social-footer {
    margin: 0;
    padding: 0;

    width: 160px;
    height: 50px;
    margin-right: 90px;
    margin-left: 10px;
    margin-top: 36px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.button-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 40px;
    height: 40px;

    margin-right: 5px;

    background-color: #161d29;
    border-radius: 50%;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-footer a:hover,
.social-footer a:focus,
.social-footer a:active {
    background-color: #ee3643;
}

.footer .address-footer {
    font-style: normal;
}

.container-academy {
    padding: 0;
    margin: 0;

    width: 300px;
    margin-top: 35px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-academy:last-child {
    padding-left: 53px;
}

.nav-footer a:hover,
.nav-footer a:focus,
.contact-academy a:hover,
.contact-academy a:focus {
    text-decoration: underline;
}

.contact-academy a:active {
    color: #ee3643;
    text-decoration: none;
}

.nav-footer a:active {
    color: #929caa;
    text-decoration: none;
}

.material a:active {
    color: #847b6a;
}

/*Popup*/

.popup,
.popup-map {
    display: none;
}

.popup-show {
    display: block;
}

.popup-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}

.popup-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.popup {
    width: 620px;
    min-height: 430px;
    margin: 0 auto;
    margin-left: -310px;

    background-color: #ff5257;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.popup-container {
    position: relative
}

.popup-index {
    position: fixed;
    bottom: 200px;
    left: 50%;
}

.popup form {
    margin-top: 7px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    background-color: #ffffff;
}

.letter {
    margin: 0;
    padding: 0;
    list-style: none;
    margin:auto 80px;
    margin-bottom: 10px;
    min-height: 300px;

    padding-top: 47px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.letter li {
    min-width: 220px;
}

.letter label {
    display: block;

    margin-bottom: 10px;
}

.letter input{
    width: 220px;
    padding-left: 15px;
    min-height: 38px;

    border: 2px solid #dee3e4;
    border-radius: 3px;
    outline: none;
}

.letter input:hover {
    border: 2px solid #b5b5b5;
}

.letter input:focus {
    border: 2px solid #ee3643;
}

.letter textarea:hover {
    border: 2px solid #b5b5b5;
}

.letter textarea:focus {
    border: 2px solid #ee3643;
}

.letter input::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;

    outline: none;
}

.letter input::-moz-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.letter textarea::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.letter textarea::-moz-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.letter textarea {
    width: 460px;
    min-height: 115px;

    border: 2px solid #dee3e4;
    border-radius: 3px;
    padding-left: 15px;
    resize: none;
    outline: none;
}

.popup-button {
    min-height: 113px;
    padding-top: 37px;

    background-color: #f4f4f4;
}

.popup .button-submit {
    margin:0 auto;
    width: 460px;

    border: none;
}

.modal-close {
    position: absolute;

    top: 17px;
    right: 11px;

    z-index: 3;

    width: 21px;
    height: 21px;

    cursor: pointer;
    background-color: transparent;
    border: none;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 7px;
    right: -5px;

    width: 26px;
    height: 4px;

    background-color: #ee3643;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


.popup-map {
    position: fixed;
    bottom: 355px;
    left: 50%;

    width: 940px;
    height: 447px;
    margin-left: -470px;

    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.popup-map .modal-close {
    top: 12px;
}

/*catalog popup */

.popup-cotalog {
    position: fixed;
    top: 50px;
    left: 50%;

    margin: 0;
    padding: 0;
    width: 620px;
    min-height: 282px;
    margin-left: -310px;

    -webkit-box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
            box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);

    z-index: 20;
}

.container-popup {
    min-height: 160px;
    margin-top: 8px;
    padding-top: 20px;

    background-color: #ffffff;
}

.popup-cotalog p {
    margin: 0;
    padding: 0;
    padding-left: 53px;
    min-height: 95px;
    padding-top: 43px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;

    text-align: center;
    background: url(../img/icon-ok.png) no-repeat 81px 26px;
}

.catalo-popup {
    margin: 0;
    padding: 0;
    padding: 38px 80px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.catalo-popup button {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.button-catalog:hover,
.button-catalog:focus {
    background-color: #e5e5e5;
}

.button-catalog:active {
    background-color: #ee3643;
    color: #ffffff;
}

.catalo-popup a {
    display: block;
    margin-right: 20px;

    text-align: center;
    vertical-align: middle;
}
